<div class="container">
    <div class="jumbotron">
        <h1>Transaction History of {{dataService.currentUser.name}} </h1>
        <div class="row">
            <div class="col" >
                <table>
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Deposit</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Withdrawal</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>

</div>
<div>
    
</div>