<div class="container">
    <div class="jumbotron">
        <!-- <h1>Transaction History of {{dataService.currentUser.name}} </h1> -->
        <h1 appHighlight>Transaction History of {{name}}</h1>
        <app-animation-demo></app-animation-demo>
        <a routerLink="/dashboard">Back to Dashboard</a>
        <div class="row">
            <div class="col" >
                <app-delete-confirmation [id] = "id" [amount]="amount" [txnType]="txnType"> </app-delete-confirmation>
                <table >
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [ngClass]="id==transaction._id? 'grey':''" *ngFor="let transaction of transactions">
                            <td>{{transaction.amount}}</td>
                            <td>{{transaction.txnType}}</td>
                            <td>{{transaction.balance}}</td>
                            <!-- <td (click)="delete(transaction)">Delete</td> -->
                            <td><button class="btn btn-primary" id="1" (click)="showConfirmationDialog(transaction)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>

</div>
<div>
    
</div>