<div class="container">
    <div class="jumbotron">
        <div class="row"> 
            <div class="col"></div>
            <div class="col">Welcome to SBK Bank</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <form>
                    <div class="form-group">
                    <label for="acno">Account Number</label>
                    <!-- with change event binding -->
                    <!-- <input (change)="acnoChange($event)" type="text" class="form-control" id="acno" aria-describedby="emailHelp"> -->
                    <!-- template referencing -->
                    <!-- <input #acno type="text" class="form-control" id="acno" aria-describedby="emailHelp"> -->
                    <!-- ngModel -->
                    <input [(ngModel)]="acno" name="acno" type="text" class="form-control" id="acno" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your Account number with anyone else.</small>
                    </div>
                    <div class="form-group">
                    <label for="pwd">Password</label>
                    <!-- with change event -->
                    <!-- <input (change)="pwdChange($event)" type="password" class="form-control" id="pwd"> -->
                    <!-- template referencing -->
                    <!-- <input #pwd type="password" class="form-control" id="pwd"> -->
                    <!-- ngModel -->
                    <input [(ngModel)]="pwd" name="pwd" type="password" class="form-control" id="pwd">
                </div>
                    <!-- change event binding -->
                    <!-- <button type="button" class="btn btn-primary" (click)="login()">Login</button> -->
                    <!-- template referencing -->
                    <button type="button" class="btn btn-primary" (click)="login(acno, pwd)">Login</button>
                </form>        
            </div>
        </div>
    </div>
</div>    