<div class="container">
    <div class="jumbotron">
        <h1>Welcome {{dataService.currentuser.name}} </h1>
        <div class="row">
            <div class="col" >
                <h2>Cash Deposit</h2>
                <table>
                    <tr>
                        <td>Account Number</td>
                        <td><input [(ngModel)]="dpacno" name="dpacno" type="text" id="acno"></td>
                    </tr>
                    <tr>
                        <td>Pin</td>
                        <td><input [(ngModel)]="dppin" name="dppin" type="text" id="pin"></td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td><input [(ngModel)]="dpamt" name="dpamt" type="text" id="amt"></td>
                    </tr>
                    <tr>
                        <td colspan="2"> <button type="button"  onclick="Bank.deposit()">Deposit</button></td>
                    </tr>
                </table>
            </div>

            <div class="col" >
                <h2>Cash Withdrawal</h2>
                <table>
                    <tr>
                        <td>Account No:</td>
                        <td><input [(ngModel)]="wacno" name="wacno" type="text" id="wacno"></td>
                    </tr>
                    <tr>
                        <td>Pin</td>
                        <td><input [(ngModel)]="wpin" name="wpin" type="text" id="wpin"></td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td><input [(ngModel)]="wamt" name="wamt" type="text" id="wamt"></td>
                    </tr>
                    <tr>
                        <td colspan="2"> <button type="button" onclick="Bank.withdraw()">Withdraw</button></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
<div>

</div>
<div>
    
</div>